GEMINI_API_KEY=
AIRTABLE_TOKEN=
AIRTABLE_BASE_ID=
ADMIN_EMAILS=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
STRIPE_WEBHOOK_SECRET=
STRIPE_SECRET_KEY=
STRIPE_PAYMENT_METHOD_TYPES=card,link,mb_way,multibanco,klarna,paypal
YOUTUBE_API_KEY=
TEST_ORDER_EMAIL=
